<form method="post" action="{{ path('app_admin_newletter_delete', {'id': newletter.id}) }}" onsubmit="return confirm('Supprimer newletter ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ newletter.id) }}">
    <button title="Supprimer" class="btn btn-danger mt-3"><i class="align-middle" data-feather="trash-2"></i></button>
</form>
