<form method="post" action="{{ path('app_admin_rncp_delete', {'id': rncp.id}) }}" onsubmit="return confirm('Annulation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rncp.id) }}">
    <button title="Supprimer" class="btn btn-danger mt-3"><i class="align-middle" data-feather="trash-2"></i></button>
</form>
