{% extends 'base-backend.html.twig' %}

{% block title %}Nouveau Titre Rncp{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_rncp_index') }}"class="btn btn-dark my-3">Retour à la liste</a> 

    <h1 class="text-center my-5">Créer Nouveau Rncp</h1>

    {{ include('admin_rncp/_form.html.twig') }}

{% endblock %}
