body{
    /* background-color: blueviolet; */
    margin: 0%;
    padding: 0%;
}
main{
margin:50px;

}
p{
    text-align: center;
}
.container{
    width: 100%;
    height: 100%;
}

.presentation{
    height: 40vh;
    width: 100%;
    position: relative;
    /* filter: blur(2px); */
}

.butt{

}

.text-over{
    position: absolute;
    top: 30%;
    color: white;
    width: 40%;
    right: 8%;

}
/* .avis{
    text-align: center;
} */

h2{
    text-align: center;
    margin: 5%;
}

.carou, #pho1{
    height: 40vh;
    width: 100%;
}
.caroutexte{
    /* position: absolute;
    top: 5%;
    width: 50%;
    right: 10%; */
    height: 15vh;
    font-size:x-large;
}

.juste{
    position: sticky!important;
    top: 0;
    right: 0;
    left: 0;
    height: 30vh;
    /* background-color: cornflowerblue; */
    }



/*.posi{
    position:relative;
} */





.avcli{
    width: 50rem;
    margin: 0%;
    padding: 1%;
    position: absolute;
    top: 10%;
    right: 10%;

}




#parte{
    width: 150px;
    align-items: center;

}

#partena{

    padding: 5%;
    /* background:no-repeat url(../images/accueil/panneau.png); */
    /* background-color: blueviolet; */
} 



@media only screen and (min-device-width: 350px) and (max-device-width: 480px){

.carou{
    display: none;
}


    .juste{
        background-color: cornflowerblue;
        height: 10vh !important;
        /* height: 5vh; */
        /* display: flex;
        flex-direction: row-reverse !important; */
    }
    .avcli{
        width: 70%;
        /* left: 30vh; */
    }

    .card{
    width: 8rem !important;
    }

}

.mobicon{
background-color: red;
width: 100%;
}
.centt{
margin: 0 !important;
padding: 0 !important;

}

#partena{


}

@media only screen and (min-device-width: 481px) and (max-device-width: 576px){

.mobicon{
    display: none;
}
main{
    margin:2px;
    
    }
    
.avcli{
    width: 70%;
    left: 20vh;
}
.avcli{
    color: blueviolet ;}
}
.juste{
height: 15vh;
}





@media only screen and (min-device-width: 577px) and (max-device-width: 768px) {

    .mobicon{
        display: none;
    }

    .juste{
        background-color: cornflowerblue;
        height: 20vh;
    }
    .avcli{
        width: 70%;
        left: 25vh;
    }
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1199px){
    .mobicon{
        display: none;
    }

.avcli{

        position: absolute;
        top: 10%;
        right: 0%;
        width: 70%;
        left: 30vh;
}

.juste{
    position: sticky!important;
    top: 0;
    right: 0;
    left: 0;
    height: 20vh;
    background-color:green; 
}

}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px){
    .mobicon{
        display: none;
    }
    .juste{
        /* background-color: cornflowerblue; */
        height: 20vh;
    }
    .avcli{
        width: 70%;
        left: 30vh;
    }
}