body{
    /* background-color: blueviolet; */
    margin: 0%;
    padding: 0%;
}
main{
margin:50px;

}

.container{
    width: 100%;
    height: 100%;
}

.presentation{
    height: 40vh;
    width: 100%;
    position: relative;

}
.text-over{
    position: absolute;
    top: 25%;
    color: white;
    width: 50%;
    right: 10%;

}
/* .avis{
    text-align: center;
} */

h2{
    text-align: center;
    margin: 15px;
}

.carou, #pho1{
    height: 40vh;
    width: 100%;
}

.juste{
    position: sticky!important;
    top: 0;
    right: 0;
    left: 0;
    height: 30vh;
    /* background-color: cornflowerblue; */
    }



/*.posi{
    position:relative;
} */

.place{
    padding: 5px;

}



.avcli{
    width: 50rem;
    margin: 0%;
    padding: 1%;
    position: absolute;
    top: 10%;
    right: 10%;

}




#parte{
    width: 106px;
    height: 98px;
}

#partena{

    padding: 5%;
    /* background:no-repeat url(../images/accueil/panneau.png); */
    /* background-color: blueviolet; */
} 



@media only screen and (min-device-width: 481px) and (max-device-width: 576px) and (orientation:portrait) {
    .avcli{
        color: blueviolet ;}
}
@media only screen and (min-device-width: 577px) and (max-device-width: 768px) {
    .avcli{
        color: blueviolet ;}
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1199px){

.avcli{
        width: 30rem;
        margin: 0%;
        position: absolute;
        top: 10%;
        right: 1%;
        color: blueviolet ;
}

.juste{
    position: sticky!important;
    top: 0;
    right: 0;
    left: 0;
    height: 20vh;
    background-color: cornflowerblue; 
}

.butt{
    
}
.bum{

}

}