body{
}

.presentaion{
    height: 40vh;
    width: 100%;
    position: relative;
}
.text-over{
    position: absolute;
    left: 50%;
    top: 50%;
}

h2{
    text-align: center;
    margin: 15px;
}

