/* ====================================================== */
/* ===================== GENERAL ======================== */
/* ====================================================== */
ul {
	padding: 0;
}

body, nav {
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

/* ====================================================== */
/* ===================== PAGE TITRE RNCP ===================== */
/* ====================================================== */

.titre-page {
	color: #c00000;
}
.card {
	border: 0px;
}

/* ====================================================== */
/* ===================== PAGE FORMATION ================= */
/* ====================================================== */
.formation-text1{
	padding-top: 80px;
	line-height : 15px;
}
.text2 {
	width: 40%;
	position: absolute;
	left: 52%;
	top: 45%;
}

.cours {
	max-width: 1000px;
}

.carre {
	background: #c00000;
}
.card-mobile
{
	position: absolute;
	top: 18%;
	left: 24%;
	
}
.body{
	background:no-repeat url(../images/formation/bg.png);
}

/* ====================================================== */
/* ===================== PAGE CONTACT =================== */
/* ====================================================== */
.encart{
	background-color: #c00000;
}
.img-send{
	max-width: 500px;
}

/* ====================================================== */
/* ===================== MEDIA QUERIES ================== */
/* ====================================================== */

@media screen and (max-width: 576px) {

/* ====================================================== */
/* ===================== PAGE FORMATION ================= */
/* ====================================================== */
	*{
		padding: 0;
		margin: 0;
	}
	.formation{
		margin : 15px 0;
	}
	.formation-text1 {
		font-size: .9rem;
		
	}
	.formation-titre {
		font-size: .9rem;
		text-align: left;		
	}
	.formation-text1-1{
		font-size: 1.2rem;
		margin: 0 40px;
	}

	.img-form {
		opacity: 0.33;
		max-width: 40px;
	}
	.img-form-order{
		order: 2;
	}
	.formation-mobile{
		font-size: 1rem;
	}
	.carre{
		font-size: 1rem;
		max-height: 220px;
		line-height: 16px;
		padding: 0 3px;
		
	}
/* ====================================================== */
/* ===================== PAGE TITRE RNCP ================ */
/* ====================================================== */
	.titre-page{
		font-size: 0.5rem;
		margin: 0;	
	}
	.diplome{
		margin-left: 30px;
		text-align:left;
	}
/* ====================================================== */
/* ===================== PAGE CONTACT =================== */
/* ====================================================== */
	.bandeau-contact{
		background-color: #c00000;
		
	}
	.message-contact{
		
		border-radius: 5px;
		border: solid 1px lightgray;
		background:rgba(211, 211, 211, 0.40)
	}
	.captcha-text{
		text-align: center;
	}

}