/* ====================================================== */
/* ===================== GENERAL ======================== */
/* ====================================================== */
*
{
	margin:0;
	padding:0;
}
body, nav
{
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
/* ====================================================== */
/* ===================== PAGE TITRE ===================== */
/* ====================================================== */

.titre-page{
	color: #c00000;	
}
.card{
	border: 0px;
}
/* ====================================================== */
/* ===================== PAGE FORMATION ================= */
/* ====================================================== */
.text1{
	padding-top: 100px;
}
