
.presentation{
    height: 40vh;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .titre-newletter{
        height : 2vh;
        padding-left: 9%;
    }
    .texte-newletter{
        height : 2vh;
    }
    .bouton-newletter{
        margin-top :15px!important;
    }         
}
