
h1, h2{

    color: #820000;
}

.image3, .photo{
    border: solid 3px #820000;
}

.formation{
    line-height: .8rem;
}





@media screen and (max-width: 576px) {
    h1, h2{
        font-size: 1.5rem;
        margin : 40px 0px!important;
    }
    .marge-mobile{
        margin : 25 0px!important;
    }
    .marginbottom{
        margin-bottom : 10px!important;
    }
    .logo{
        width: 12rem!important;
        margin-bottom : 10px!important;
    }
    .photo{
        width: 8rem!important;
    }
}



