<form method="post" action="{{ path('app_admin_nos_actus_delete', {'id': nos_actu.id}) }}" onsubmit="return confirm('Supprimer la page ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nos_actu.id) }}">
    <button title="Supprimer" class="btn btn-danger mt-3"><i class="align-middle" data-feather="trash-2"></i></button>
</form>
