{% extends 'base-backend.html.twig' %}

{% block title %}New NosActus{% endblock %}

{% block body %}
    <h1>Create new NosActus</h1>

    {{ include('admin_nos_actus/_form.html.twig') }}

    <a href="{{ path('app_admin_nos_actus_index') }}">back to list</a>
{% endblock %}
