{% extends 'base-backend.html.twig' %}

{% block title %}Administration SR3Groupe{% endblock %}

{% block body %}

    <div class="text-center">
        <h1 class="mb-5">Bienvenue sur le dashboard </h1>
        <img class="img-fluid" src ="{{ asset('/images/logosr3.png')}}"/>    
    </div>
{% endblock %}
