<form method="post" action="{{ path('app_admin_team_delete', {'id': team.id}) }}" onsubmit="return confirm('Suppression de la page?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ team.id) }}">
    <button title="Supprimer" class="btn btn-danger mt-3"><i class="align-middle" data-feather="trash-2"></i></button>
</form>
