<form method="post" action="{{ path('app_admin_partenaire_delete', {'id': partenaire.id}) }}" onsubmit="return confirm('Supprimer ce partenaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partenaire.id) }}">
    <button title="Supprimer" class="btn btn-danger mt-3"><i class="align-middle" data-feather="trash-2"></i></button>
</form>
