{% extends 'base.html.twig' %}

{% block title %}Hello AdminAccueilController!{% endblock %}

{% block body %}
<h1>GROUPE SR3</h1>
    <img src="{{ asset("images/accueilformation.jpg") }}" alt="" class="img-fluid">

{% endblock %}
