{% extends 'base-backend.html.twig' %}

{% block title %}Modifier Cours{% endblock %}

{% block body %}

    <a href="{{ path('app_admin_cours_index') }}" class="btn btn-dark my-3">Retour à la liste</a>

    <h1>Modifier Cours</h1>

    {{ include('admin_cours/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('admin_cours/_delete_form.html.twig') }}
{% endblock %}
