{% extends 'base-backend.html.twig' %}

{% block title %}New AvisClient{% endblock %}

{% block body %}
    <h1>Create new AvisClient</h1>

    {{ include('admin_avis_client/_form.html.twig') }}

    <a href="{{ path('app_admin_avis_client_index') }}">back to list</a>
{% endblock %}
