{% extends 'base-backend.html.twig' %}

{% block title %}Nouvelle Accueil{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_accueil_index') }}"class="btn btn-dark my-3">Retour à la lsite</a>
    <h1 class="text-center">Nouvelle page Accueil</h1>

    {{ include('admin_accueil/_form.html.twig') }}

{% endblock %}

{% block javascripts %}
    <script>
        $(".select2").select2();
    </script>
{% endblock %}